<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/weather.png">
    <link rel="stylesheet" href="css/styles.css">
    <title>About</title>
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p id="about">This site is created by Pulkit Bhargava which shows the current weather for the place user searches for. This application uses <a id="apilinks" href="https://www.mapbox.com/">mapbox</a> site to find the coordinates of the searched location and then uses <a id="apilinks" href="https://weatherstack.com/">weatherstack</a> api to fetch the data.</p>
        <br/>
        <p>This application gives us information about : </p>
        <ul>
            <li>Location</li>
            <li>Current temperature and feels-like temperature</li>
        </ul>
    </div>
    {{>footer}}
</body>

</html>